/* Coolors Exported Palette - https://coolors.co/5c574f-083172-f7f052-8eb3cc-3fa261 */

/* CSS HEX */
--davys-grey: #5c574fff;
--royal-blue-dark: #083172ff;
--icterine: #f7f052ff;
--dark-sky-blue: #8eb3ccff;
--jade: #3fa261ff;

/* CSS HSL */
--davys-grey: hsla(37, 8%, 34%, 1);
--royal-blue-dark: hsla(217, 87%, 24%, 1);
--icterine: hsla(57, 91%, 65%, 1);
--dark-sky-blue: hsla(204, 38%, 68%, 1);
--jade: hsla(141, 44%, 44%, 1);

/* SCSS HEX */
$davys-grey: #5c574fff;
$royal-blue-dark: #083172ff;
$icterine: #f7f052ff;
$dark-sky-blue: #8eb3ccff;
$jade: #3fa261ff;

/* SCSS HSL */
$davys-grey: hsla(37, 8%, 34%, 1);
$royal-blue-dark: hsla(217, 87%, 24%, 1);
$icterine: hsla(57, 91%, 65%, 1);
$dark-sky-blue: hsla(204, 38%, 68%, 1);
$jade: hsla(141, 44%, 44%, 1);

/* SCSS RGB */
$davys-grey: rgba(92, 87, 79, 1);
$royal-blue-dark: rgba(8, 49, 114, 1);
$icterine: rgba(247, 240, 82, 1);
$dark-sky-blue: rgba(142, 179, 204, 1);
$jade: rgba(63, 162, 97, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #5c574fff, #083172ff, #f7f052ff, #8eb3ccff, #3fa261ff);
$gradient-right: linear-gradient(90deg, #5c574fff, #083172ff, #f7f052ff, #8eb3ccff, #3fa261ff);
$gradient-bottom: linear-gradient(180deg, #5c574fff, #083172ff, #f7f052ff, #8eb3ccff, #3fa261ff);
$gradient-left: linear-gradient(270deg, #5c574fff, #083172ff, #f7f052ff, #8eb3ccff, #3fa261ff);
$gradient-top-right: linear-gradient(45deg, #5c574fff, #083172ff, #f7f052ff, #8eb3ccff, #3fa261ff);
$gradient-bottom-right: linear-gradient(135deg, #5c574fff, #083172ff, #f7f052ff, #8eb3ccff, #3fa261ff);
$gradient-top-left: linear-gradient(225deg, #5c574fff, #083172ff, #f7f052ff, #8eb3ccff, #3fa261ff);
$gradient-bottom-left: linear-gradient(315deg, #5c574fff, #083172ff, #f7f052ff, #8eb3ccff, #3fa261ff);
$gradient-radial: radial-gradient(#5c574fff, #083172ff, #f7f052ff, #8eb3ccff, #3fa261ff);